/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------ */

html {
    background-color: rgb(35, 35, 35);
}
body {
      font-family: 'IM Fell English SC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    display: flex;
    justify-content: center;
    align-content: center;
    text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.389);
    
}

#main-container {
    background: rgb(255, 255, 255);
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.305), rgba(46, 46, 46, 0.453)),
    url("jp-valery-EAx4OpPCSrs-unsplash.jpg");
    background-size: cover;
    display: flex;
    height: 100%;
    width: 1200px;
}

#img-container {
    position: relative;
    width: 50%;
    max-width: 450px;
    
}

#forest {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#logo {
    font-family: 'IM Fell English SC', serif;
    text-shadow: 1px 2px white;
    padding-top: 4%;
    padding-bottom: 4%;
    position: absolute;
    font-size: 70px;
    text-align: center;
    color: rgb(0, 0, 0);
    top: 25%;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoImg {
    width: 23%;
}

form {
    margin: 3vw;
    position: relative;
    box-sizing: border-box;
    width: 600px;


}

h1 {
    letter-spacing: .1rem;
    line-height: 1.3;
    font-size: 24px;
    display: inline-block;
}

legend {
    letter-spacing: .1rem;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    
}

#fill {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vh   ;
}
fieldset {

    display: flex;
    flex-direction: column;
}


input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    margin-top: 0.3rem;
    
    
}
input:focus {
    outline-color: rgb(85, 85, 172);
}

label {
    font-weight: 600;
    font-size: 0.8rem;
    text-shadow: 1px 2px black;
    color: rgb(166, 166, 166);
    letter-spacing: .2rem;
}
textarea {
    border: none;
    font-size: 1rem;
    background: none;
    width: 50%;
    
}

button {
    font-family: 'IM Fell English SC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}
